*,*::before,*::after {
     box-sizing: border-box;
}
body {
     margin: 0px;
     overflow: hidden;
}
.title {
     position: absolute;
     inset: 0px;
     z-index: 10;
     margin: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.subtitle {
     margin-top: 0.5rem;
}
.hide {
     display: none;
}
.bird {
     --bird-top: -1000;
     --bird-size: 60px;
     position: absolute;
     top: calc(var(--bird-top) * 1px);
     left: var(--bird-size);
     width: var(--bird-size);
     height: var(--bird-size);
     background-color: hsl(50,75%,50%);
     border-radius: 50%;
}
.pipe {
     position: absolute;
     top: 0px;
     left: calc(var(--pipe-left) * 1px);
     bottom: 0px;
     width: calc(var(--pipe-width) * 1px);
}
.pipe .segment {
     position: absolute;
     width: 100%;
     background-color: hsl(100,75%,50%);
}
.pipe .top {
     top: 0px;
     bottom: calc(var(--hole-top) * 1px);
}
.pipe .bottom {
     top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px));
     bottom: 0px;
}